
        
<div align="center">
    <i class="glyphicon glyphicon-search"></i>      
    <input type="text"  placeholder="Search mail" />
    <a href="/logout" class="label label-danger" style="font-size: large;"><strong>Logout</strong></a>
</div>

<div class="row">
    <div class="sidebar col col-md-4" align="left">
        <div  align="center" class="compose">
            <button type="button" class="glyphicon glyphicon-plus btn btn-lg btn-primary" data-toggle="modal" data-target="#myModal"> Compose </button>
        </div>
    <hr>

        <ul class="nav nav-pills nav-stacked">
            <li>
                <a href="/inbox">
                    <i class="glyphicon glyphicon-inbox"> Inbox</i> <span class="label label-success pull-right">0</span>
                </a>
            </li>
            <li>
                <a href="/stared">
                    <i class="glyphicon glyphicon-star"> Stared</i>
                </a>
            </li>

            <li>
                <a href="/stared">
                    <i class="glyphicon glyphicon-send"> Sent</i>
                </a>
            </li>

            <li>
                <a href="/draft">
                    <i class="glyphicon glyphicon-file"> Drafts</i> <span class="label label-danger pull-right">0</span>
                </a>
            </li>
            <li>
                <a href="/mails">
                    <i class="glyphicon glyphicon-envelope"> All-Mail</i>
                </a>
            </li>

        </ul>
        <hr>
      <!--/////////////////////////////////////////////////-->
        <h5 class="nav-email-subtitle">More</h5>
        <ul class="nav nav-pills nav-stacked  ">
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-heart"> Promotions</i> <span class="label label-danger pull-right">3</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="  glyphicon glyphicon-list-alt"> Job list</i> 
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="glyphicon glyphicon-hdd"> Backup</i>
                </a>
            </li>
        </ul>
    </div>








<!-- Main  Modal-->   
    