<html>
<head>
	<title>Help Center</title>
	
	<style>
		
		.container{
			width: 80%;
			height: 85%;
			background-color: #D3D3D3;
			border: 1px solid black;
			border-radius: 10px;
			text-align: left;
			padding: 40px;
		}
		.lis{
			text-align: left;
		}
	</style>
</head>
<body>
	<center>
	<div class="container" >
	<h1 style=" ">Sign in on a device that's not yours</h1>
	<p>If you sign in temporarily on a computer, phone, or tablet that doesn't belong to you, use a private browsing window.

	For example:

    A public computer that's available to lots of people, like at a library or internet cafe
    A device that you've borrowed from a friend or family member

	If you share a device or browser with people you trust, you can set it up for multiple people. <a href="https://support.google.com/chrome/answer/2364824">Learn how to share Chrome with others.</a></p>

	<h1>Browse in private</h1>
	<p>If you sign in on a device that's used by other people, follow the steps below. That way, others won't be able to:</p>
	<div class="lis">
		<li>Use your Google Account</li>
		<li>Find out what searches you did or sites you visited</li>
		<li>See that your account was signed in</li>
	</div>
	</div>
	</center>
</body>
</html>