<html>
	
	<title>Gmail Style Login page Design using HTML and CSS by - coder Glass</title>
	<head>
		<link type="text/css" rel="stylesheet" href="/static/css/style.css" />
		
        <link href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<center><div class="base">
			<div id="logo">
				<img src="/static/logo.gif" width="170" height="60" />
			</div>
			<div id="info1">
				One account. All of MailBox.
			</div>
			<div id="info2">
				Sign in to continue to MailBox
			</div>
			<div id="form1">
				<div id="form-img">
				<img src="/static/profile.jpg" width="99" height="99" />
			    </div>
			    
			  <form action="" method="POST">
				<div id="mailbox">
					<input placeholder="Enter your password" required type="password" name="password" style="width:270px; height:42px; border: solid 1px #c2c4c6; font-size:16px; padding-left:8px;" />
				</div>
				{% if error %}
					<div class="alert alert-danger">
         				<p><strong>Error:</strong> {{ error }}</p>
					</div>
				{% endif %}
				<div>
				   <input type="submit" id="button2" value="Next" class="btn btn-primary" />
				</div>
			</form>
				<div id="info3">
				    <a href="/help"/>Need help?</a>
			    </div>
			</div>
			
			<div id="info4">
				    <a href="/signup"/>Create account?</a>
			</div>
			{% include 'includes/_messages.html' %}
		
		</div>
		</center>
	</body>
	
</html>