{% extends "layout.html" %}
{% block body %}
<div class="col inbox col-md-8 pul-right">    
    <div class="tab-content">
        <div class="tab-pane fade in active" id="home">
            <div class="list-group">
                {% for result in results %}
                <a href="#" class="list-group-item  testField">
                    <input type="checkbox">
                    <span class="glyphicon glyphicon-star-empty"></span>
                    <strong>
                        <span class="name" style="min-width: 120px; display: inline-block;">{{ result.receiver_email }}</span>
                    </strong> 
                    <span class=""> {{ result.subject }}</span>
                    <span class="text-muted" style="font-size: 11px;">{{ result.msg }}</span> 
                    <span class="badge">{{ result.time }}</span> <span class="pull-right"></span>
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

